* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Courier New', sans-serif;
	scroll-behavior: smooth;
}

body {
	background-color: #fff;
}

.navbar {
	background: #EF3B36;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #FFFFFF, #EF3B36 85%);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #FFFFFF, #EF3B36 85%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	position: sticky;
	top: 0;
	z-index: 999;
}

.navbar-brand {
	display: flex;
	justify-content: space-between;
	z-index: 1;
	max-width: 1300px;
}

#navbar-logo {
	font-family: 'Verdana', sans-serif;
	background-color: #283048;
	background-image: linear-gradient(to top, #283048 15%, #859398 100%);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	display: flex;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	font-size: 2.75rem;
}

.nav-item a {
	background-color: #283048;
	background-image: linear-gradient(to top, #283048 25%, #859398 100%);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	display: flex;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	font-size: 1.3rem;
}

.btn-group {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
}

.btn {
	background-color: #283048;
	background-image: linear-gradient(to top, #283048 25%, #859398 100%);
	background-size: 100%;
}

.dropdown-menu {
	text-align: center;
	background-color: #283048;
	background-image: linear-gradient(to top, #283048 25%, #859398 100%);
	background-size: 100%;
}

.dropdown-menu #phantom-wallet {
	width: 100%;
}

.dropdown-menu #wallet-2 {
	width: 100%;
}

.dropdown-menu #wallet-3 {
	width: 100%;
}
